*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.about-us{
    height:100vh ;
    /* border: 1px solid rgb(0, 255, 191); */
}

header .navbar li a{
    color: #ffa31a;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    

    
}

header .navbar li a:hover{
    color: white;
    text-decoration: underline;
    
}

.navbar li {
    margin-right: 3rem;
}

.navbar{
    height: 90px;
}


.logo{
    
    height:70px;
    width: 70px;
    border-radius: 35px;
    background-image:url("img/logocantiere.jpeg") ;
    background-size: cover;
    background-repeat: no-repeat;
    margin:18px
}



.corpo{
    /* border: 1px solid violet; */
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    
}

.accordion{
    /* border: 1px solid red; */
    width: 60%;
    justify-content: end;
    
    
    
}



 .corpo .immaginecorpo{
    width: 40%;
    height: 315px;
    background-image: url("img/cantiere.jpeg");
    background-size: cover;
    background-position: center;
    margin-right: 1rem;
    border-radius: 10%;
    margin-left: 1rem;

}


.corpo2{
   /* border: 1px solid red; */
   display: flex;
   margin: 1rem auto;
   

   
   
  
    
}

 .card{
    margin: auto;
    
}

.card img{
    width: 38%;
    margin: auto;
}

.card-body a{
background-color: #ffa31a;
color: black;
border: 2px solid;
}

